.dashboard {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .dashboard__content {
    display: flex;
    gap: 1.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    justify-content: center;
  }
}